* {
  background-color: #f3747f;
  margin: 0;
  padding: 0;
}

.atg-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chili {
  width: 75%;
  height: auto;
  margin: auto;
}

.waitlist {
  position: absolute;
  margin: auto;
  top: 75%;
  left:
}

#email_form {
  background-color: white;
}
