* {
  background-color: #f3747f;
  margin: 0;
  padding: 0;
}

.all-the-goods{
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
}
.atg-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chili{
  max-width: 90%;
  height: auto;
}

#email_form {
  background-color: white;
}